<!DOCTYPE html>
<html lang="de">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    {% if success %}
        <h2 style="color: green;">Willkommen zurück, {{user.username}}!</h2>
        <p>Deine Rolle im System: <strong>{{user.role}}</strong></p>
        <br>
        <a href="/login">Logout</a>
    {% else %}
        {% if error %}
            <p style = "color: red;">{{error}}</p>
        {% endif %}

        <form action="/login" method="POST">
            <label for="username">Benutzername:</label><br>
            <input type="text" id="username" name="username"><br><br>

            <label for="password">Passwort:</label><br>
            <input type="password" id="password" name="password"><br><br>

            <button type="submit">Einloggen</button>
        </form>
    {% endif %}

    <br>
    <a href="/">Zurück zur Startseite</a>

</body>
</html>