<!DOCTYPE html>
<html lang="de">
<head>
    <title>Produktsuche</title>
</head>
<body>
    <h1>Shop Suche</h1>
    <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Produkt suchen..." value="{{ query }}">
        <button type="submit">Suchen</button>
    </form>

    {% if query %}
        <h2>Ergebnisse für: {{ query }}</h2>
        <ul>
            {% for product in products %}
                <li>{{ product.name }} - {{ product.price }} €</li>
            {% else %}
                <li>Keine Produkte gefunden.</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/checkout" method="POST" style="margin-top: 5px;">
        <input type="hidden" name="name" value="{{name}}">
        <label for="notes">Anmerkung zur Bestellung:</label><br>
        <input type="text" name="notes" placeholder="z.B. Bitte schnell liefern"><br>
        <button type="submit">Jetzt kostenpflichtig kaufen</button>
    </form>
</body>
</html>
